# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/ProvCli.Domain/obj
/ProvCli.Domain.Tests/bin/Debug/netcoreapp2.1
/ProvCli.Domain.Tests/obj
/ProvCli.Api/obj
/ProvCli.Application/obj
/ProvCli.Application.Contracts/obj
/ProvCli.CrossCutting/obj
/ProvCli.Api/bin/Debug/netcoreapp2.1
/ProvCli.Api.Contracts/obj
/ProvCli.Application/bin/Debug/netcoreapp2.1/ProvCli.Application.deps.json
/ProvCli.Application.Contracts/bin/Debug/netcoreapp2.1/ProvCli.Application.Contracts.deps.json
/ProvCli.CrossCutting/bin/Debug/netcoreapp2.1/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/ProvCli.CrossCutting/bin/Debug/netcoreapp2.1/ProvCli.CrossCutting.deps.json
/ProvCli.Domain/bin/Debug/netcoreapp2.1/ProvCli.Domain.deps.json
/ProvCli.Api/ProvCli.Api.csproj.user
/ProvCli.Api/bin/Debug/netcoreapp2.2
/ProvCli.Api.Contracts/bin/Debug/netcoreapp2.1
